setuptools>=67.6.0
torch @ https://download.pytorch.org/whl/cpu/torch-2.2.1+cpu-cp312-cp312-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.17.1+cpu-cp312-cp312-linux_x86_64.whl
pandas
numpy==1.24.3
scikit-learn
matplotlib
pillow
pyyaml
streamlit
flask
plotly>=6.0.0
